@use 'variables' as v;
@use 'mixins' as m;

@font-face {
    font-family: 'Outfit';
    src: 
    url('/build/fonts/Outfit-ExtraBold.woff2') format('woff2'),
    url('/build/fonts/Outfit-ExtraBold.woff') format('woff'),
    url('/build/fonts/Outfit-ExtraBold.ttf') format('truetype');
    font-weight: bold; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: 
    url('/build/fonts/Outfit-SemiBold.woff2') format('woff2'),
    url('/build/fonts/Outfit-SemiBold.woff') format('woff'),
    url('/build/fonts/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: 
    url('/build/fonts/Outfit-Bold.woff2') format('woff2'),
    url('/build/fonts/Outfit-Bold.woff') format('woff'),
    url('/build/fonts/Outfit-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: 
    url('/build/fonts/Outfit-Medium.woff2') format('woff2'),
    url('/build/fonts/Outfit-Medium.woff') format('woff'),
    url('/build/fonts/Outfit-Medium.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: 
    url('/build/fonts/Outfit-Thin.woff2') format('woff2'),
    url('/build/fonts/Outfit-Thin.woff') format('woff'),
    url('/build/fonts/Outfit-Thin.ttf') format('truetype');
    font-weight: 100; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src:
    url('/build/fonts/Outfit-Regular.woff2') format('woff2'),
    url('/build/fonts/Outfit-Regular.woff') format('woff'),
    url('/build/fonts/Outfit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Outfit';
    src: 
    url('/build/fonts/Outfit-Black.woff2') format('woff2'),
    url('/build/fonts/Outfit-Black.woff') format('woff'),
    url('/build/fonts/Outfit-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: 
    url('/build/fonts/Outfit-Light.woff2') format('woff2'),
    url('/build/fonts/Outfit-Light.woff') format('woff'),
    url('/build/fonts/Outfit-Light.ttf') format('truetype');
    font-weight: 300; 
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Outfit';
    src: 
    url('/build/fonts/Outfit-ExtraLight.woff2') format('woff2'),
    url('/build/fonts/Outfit-ExtraLight.woff') format('woff'),
    url('/build/fonts/Outfit-ExtraLight.ttf') format('truetype');
    font-weight: 200; 
    font-style: normal;
    font-display: swap;
}



html {
    font-family: Outfit;
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.8rem;
    background-color: v.$cream;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}

