@use 'base/mixins' as m;
@use 'base/variables' as v;



.home {

    &__cardBox{
        position: relative;
        width: 100%;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 3rem;


        @include m.desktopmx{
            grid-template-columns: repeat(2,1fr); 
        }

        @include m.telefonomx{
            grid-template-columns: repeat(1,1fr);
        }
    }

    &__card{
        position: relative;
        background-color: v.$blanco;
        padding: 3rem;
        border-radius: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 0.7rem 2.5rem rgba(0, 0, 0, 0.08);

        &:hover {
            background-color: v.$color1;
        
            .home__card--txt {
                color: v.$blanco;
            }

            .home__card--number{
                color: v.$blanco;
            }

            .home__card--icon{
                fill: v.$blanco;
            }
        }



        &--number{
            position: relative;
            font-weight: 500;
            font-size: 3.5rem;
            color: v.$color1;

            
        }

        &--txt{
            color: v.$kale;
            font-size: 2rem;
            margin-top: 0.5rem;
        }

        &--icon{
            font-size: 3.5rem;
            fill: v.$kale;
           
        }


    }
   
}